.CreateTicketContainer{
    text-align: left;
    height: auto;
}

.CreateTicketContainer form {
    font-size: 14px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

}

.Input {
    border-width: 0px;
    border-bottom-width: 2px;
    width: 100%;
    outline: none;
    margin-bottom: 10px;
    font: inherit;
}

.CreateTicketContainer select{
    font: inherit;
    margin-top: 2px;
}

.Priority {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    justify-content: space-between;
    width: 50%;
}

.CreateTicketContainer label{
    margin-left: 2px;
}

.Description{
    margin-top: 10px;
    margin-bottom: 2px;
}

@media (max-width: 499px){
    .Priority{
        flex-direction: column;
    }

    .Priority div{
        margin-bottom: 3px;
    }
}



