.Box {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}

.normal { 
    background-color: rgb(41, 185, 85);  
}

.urgent {
    background-color: rgb(142, 36, 170);
}

.critical {
    background-color: rgb(230, 81, 0);
}